 {% extends "base.html" %}

{% block title %}
About
{% endblock %}

{% block body %}




<strong class="show-for-small">
    <div class="row collapse">
        <div class="banner-touch">
        <img src="{{ url_for('static', filename='img/banner.brighter.jpg', _external=True) }}"/>
        </div>
    </div>
</strong>

<strong class="hide-for-large-up">
<strong class="hide-for-small">
<strong class="show-for-middle-only">
<div class="row collapse">
        <div class="banner">
        <img src="{{ url_for('static', filename='img/banner.brighter.jpg', _external=True) }}"style="width:100%; margin-top:2rem"/>
        </div>
</div>
</strong>
</strong>
</strong>

<strong class="show-for-large-up">
<div class="row collapse">
        <div class="banner">
        <img src="{{ url_for('static', filename='img/banner.brighter.jpg', _external=True) }}"style="width:100%; margin-top:-4rem"/>
        </div>
</div>
</strong>




{# text #}

<div class="hide-for-small">
<div class="subpagephoto">
<div class = "row">
<div class="large-1 columns">
<p></p>
</div>
  <div class = "large-10 columns">

<div class="row collapse">
<div class="subpageheading">
<h1>
      <span class="subpagetext" style="color:#E9E0DB">
      About NeuroDining
      </span>
    </h1>
    </div>
</div>
<div class="paragraph">
<div class="row collapse">
    <div class="large-6 columns">
    <p>
      <span class="subpagetextp">
<font color=#2C2C2C>__</font>NeuroDining is providing a new experience for distinguished palates to explore New York City’s finest restaurants.  Whether you have adventurous taste buds, a busy work schedule, clients to entertain or like most New Yorker’s, all of the above, NeuroDining ensures a dining experience that is certain to impress.

As reliable customers, we make our diners <a href="/community"> <font color="grey">visible</font></a> to restaurants and eateries.  We live by our list of selected restaurants and use member feedback to get the highest quality of personalization for our members.  Our technology is designed so that you can focus on what truly matters: the satisfaction of sharing an exquisite meal with friends, family, or clients.
</span>
</p>
</div>

<div class="large-6 columns">
    <strong class="show-for-large-up">
    <div class="subpagetextp2">
<p>
      <span class="subpagetextp">
<font color=#2C2C2C>__</font>In the age of Yelp and OpenTable, food quality and reliable reviews are often sacrificed for the sake of expediency.  You have specific expectations that you cannot be certain other diners share.  Worst of all, these services usually take a user considerable time to confirm reservations.  By the time you go through endless and biased reviews, you face the headache of low availability and booked restaurants.  NeuroDining members <a href="/service"> <font color="grey">make reservations</font></a> at New York City's top restaurants in less than one minute.
  </span>
    </p>
    </div>
    </strong>
    <strong class="hide-for-large-up">
    <strong class="hide-for-small">
    <strong class="show-for-middle-only">
        <div class="subpagetextp">
<p>
      <span class="subpagetextp">
<font color=#2C2C2C>__</font>In the age of Yelp and OpenTable, food quality and reliable reviews are often sacrificed for the sake of expediency.  You have specific expectations that you cannot be certain other diners share.  Worst of all, these services usually take a user considerable time to confirm reservations.  By the time you go through endless and biased reviews, you face the headache of low availability and booked restaurants.  NeuroDining members <a href="/service"> <font color="grey">make reservations</font></a> at New York City's top restaurants in less than one minute.
  </span>
    </p>
    </div>
    </strong>
    </strong>
    </strong>
  </div>



</div>
</div>
</div>


  <div class="large-1 columns">
  <p></p>
</div>
  </div>
</div>

</div>


<div class="show-for-small">
    <div class="row">
        <br>
        <div class="row">
            <div class ="large-12 medium-12 small-12 columns">
                <div class="subpageheading">
                    <h1>
                    <span class="subpagetext" style="color:#E9E0DB">
                    About NeuroDining
                    </span>
                    </h1>
                </div>

                <div class="paragraph">
                    <p>
                    <span class="subpagetextp">
                    <font color=#2C2C2C>__</font>NeuroDining is providing a new experience for distinguished palates to explore New York City’s finest restaurants.  Whether you have adventurous taste buds, a busy work schedule, clients to entertain or like most New Yorker’s, all of the above, NeuroDining ensures a dining experience that is certain to impress.

As reliable customers, we make our diners <a href="/community"> <font color="grey">visible</font></a> to restaurants and eateries.  We live by our list of selected restaurants and use member feedback to get the highest quality of personalization for our members.  Our technology is designed so that you can focus on what truly matters: the satisfaction of sharing an exquisite meal with friends, family, or clients.
                    </span>
                    </p>
                </div>

                <div class="paragraph">
                    <p>
                    <span class="subpagetextp">
                    <font color=#2C2C2C>__</font>In the age of Yelp and OpenTable, food quality and reliable reviews are often sacrificed for the sake of expediency.  You have specific expectations that you cannot be certain other diners share.  Worst of all, these services usually take a user considerable time to confirm reservations.  By the time you go through endless and biased reviews, you face the headache of low availability and booked restaurants.  NeuroDining members <a href="/service"> <font color="grey">make reservations</font></a> at New York City's top restaurants in less than one minute.
                    </span>
                    </p>
                </div>






            </div>
        </div>



    </div>
</div>




    {% endblock %}