{% extends "base.html" %}

{% block title %}
Community
{% endblock %}

{% block body %}

{# empty banner as place holder #}
<strong class="show-for-small">
    <div class="row collapse">
        <div class="banner-touch-invisible">

        </div>
    </div>
</strong>



{# text #}



<div class="subpagephoto">
    <strong class="hide-for-small">

<div class = "row">

    <div class="large-1 columns">
        <p></p>
    </div>

    <div class = "large-10 columns">
        <p></p>
        <div class="row collapse">

        <div class="subpageheading">
            <h1>
            <span class="subpagetext" style="color:#E9E0DB">
            Community
            </span>
            </h1>
        </div>
        </div>


        <div class="paragraph">
        <div class="row collapse">

        <div class="large-6 columns">
            <p>

                <span class="subpagetextp">
                <font color=#2C2C2C>__</font>
                More than just exquisite food, NeuroDining is a community of distinguished palates.  We cultivate relationships between our restaurants and our members so that NeuroDiners can count on excellent service and recognition from their favorite eateries.  Likewise, restaurants can rely on the status of our members to be high valued customers.
                </span>
            </p>
        </div>

        <div class="large-6 columns">
            <strong class="show-for-large-up">
            <div class="subpagetextp2">
            <p>
                <span class="subpagetextp">
                <font color=#2C2C2C>__</font>
                Our members are from various backgrounds but all share a love of fine food and an expectation to be treated well by those who are serving it.  As a NeuroDiner, you will be part of an ecosystem where both diners and restaurants respect each other.
                </span>
            </p>
            </div>
            </strong>
            <strong class="hide-for-large-up">
            <strong class="hide-for-small">
            <strong class="show-for-middle-only">
                <div class="subpagetextp">
                <p>
                    <span class="subpagetextp">
                    <font color=#2C2C2C>__</font>
                    Our members are from various backgrounds but all share a love of fine food and an expectation to be treated well by those who are serving it.  As a NeuroDiner, you will be part of an ecosystem where both diners and restaurants respect each other.
                    </span>
                </p>
                </div>
            </strong>
            </strong>
            </strong>
        </div>

        </div>
        </div>
    </div>

    <div class="large-1 columns">
        <p></p>
    </div>

</div>
</div>
</strong>

{# touch text #}
<div class="large-1 columns">
  <p></p>
</div>
  </div>
</div>

</div>
</div>

<div class="show-for-small">
    <div class="row">
        <br>
        <div class="row">
            <div class ="large-12 medium-12 small-12 columns">
                <div class="subpageheading">
                    <h1>
                    <span class="subpagetext" style="color:#E9E0DB">
                    Community
                    </span>
                    </h1>
                </div>

                <div class="paragraph">
                    <p>
                    <span class="subpagetextp">
                    <font color=#2C2C2C>__</font>More than just exquisite food, NeuroDining is a community of distinguished palates.  We cultivate relationships between our restaurants and our members so that NeuroDiners can count on excellent service and recognition from their favorite eateries.  Likewise, restaurants can rely on the status of our members to be high valued customers.
                    </span>
                    </p>
                </div>

                <div class="paragraph">
                    <p>
                    <span class="subpagetextp">
                    <font color=#2C2C2C>__</font>Our members are from all backgrounds but all share a love of fine food and expect to be treated well by those who are serving it.  As a NeuroDiner, you will be part of an ecosystem where both diners and restaurants respect each other.
                    </span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>




<!-- SLICK -->
<strong class="hide-for-small">
    <strong class="hide-for-medium">
<div class="slick">
    <div class="row">

        <div class="large-3 columns"><p></p></div>

        <div class="large-6 columns">
            <div class="cent">
            <div class="row text-center slick-multislider">


                <div class="large-4 small-12 columns">

                    <div class="scontain">
                    <p><font color=#2C2C2C>__</font>“As a business owner, I work 100+ hours a week.  I don’t have time to spend researching restaurants and making reservations. NeuroDining makes all the decisions so I don’t have to. I recommend this service to every busy individual who puts value on time efficiency and quality.”</p>
                    <h5 class="h5-title-margin-top">- John</h5>
                    <p></p><p></p>
                    <strong class="hide-for-touch">
                    <img src="{{ url_for('static', filename='img/review.png', _external=True) }}"/>
                    </strong>
                    <p><font color=#2C2C2C>__</font></p><p><font color=#2C2C2C>__</font></p>
                    </div>

                </div>


                <div class="large-4 small-12 columns">

                    <div class="scontain">
                    <p><font color=#2C2C2C>__</font>“NeuroDining has become an essential part of my social life. Their handpicked options include everything from rustic hole-in-the-walls to fancy restaurants, but the quality is consistently excellent. I find that the exclusivity of NeuroDining is what makes the service so reliable.  I know that membership is decided on a referral basis so other members have the same expectations as I do.”</p>
                    <h5 class="h5-title-margin-top">- Mira</h5>
                    <p></p><p></p>
                    <strong class="hide-for-touch">
                    <img src="{{ url_for('static', filename='img/review.png', _external=True) }}"/>
                    </strong>
                    <p><font color=#2C2C2C>__</font></p><p><font color=#2C2C2C>__</font></p>
                    </div>

                </div>


                <div class="large-4 small-12 columns">

                    <div class="scontain">
                    <p><font color=#2C2C2C>__</font>“Mealtime is important to me because it’s when I catch up with my friends and family. Though I dine out a lot for business, it is hard to keep up with the latest trends.  NeuroDining helps me receive outstanding service at the best restaurants while satisfying my adventurous taste buds.”</p>
                    <h5 class="h5-title-margin-top">- Samuel</h5>
                    <p></p><p></p>
                    <strong class="hide-for-touch">
                    <img src="{{ url_for('static', filename='img/review.png', _external=True) }}"/>
                    </strong>
                    <p><font color=#2C2C2C>__</font></p><p><font color=#2C2C2C>__</font></p>
                    </div>

                </div>
            </div>
            </div>
        </div>

        <div class="large-3 columns"><p></p></div>
    </div>
</div>
</strong>
</strong>

<!-- SLICK TOUCH -->
<strong class="show-for-small">

<div class="slick">
    <div class="row">

        <div class="large-3 columns"><p></p></div>

        <div class="large-6 columns">
            <div class="row text-center slick-multislider">


                <div class="large-4 small-12 columns">

                    <div class="scontain">
                    <p><font color=#2C2C2C>__</font>“As a business owner, I work 100+ hours a week.  I don’t have time to spend researching restaurants and making reservations. NeuroDining makes all the decisions so I don’t have to. I recommend this service to every busy individual who puts value on time efficiency and quality.”</p>
                    <h5 class="h5-title-margin-top">- John</h5>
                    <p></p><p></p>
                    <strong class="hide-for-touch">
                    <img src="{{ url_for('static', filename='img/review.png', _external=True) }}"/>
                    </strong>
                    <p><font color=#2C2C2C>__</font></p><p><font color=#2C2C2C>__</font></p>
                    </div>

                </div>


                <div class="large-4 small-12 columns">

                    <div class="scontain">
                    <p><font color=#2C2C2C>__</font>“NeuroDining has become an essential part of my social life. Their handpicked options include everything from rustic hole-in-the-walls to fancy restaurants, but the quality is consistently excellent. I find that the exclusivity of NeuroDining is what makes the service so reliable.  I know that membership is decided on a referral basis so other members have the same expectations as I do.”</p>
                    <h5 class="h5-title-margin-top">- Mira</h5>
                    <p></p><p></p>
                    <strong class="hide-for-touch">
                    <img src="{{ url_for('static', filename='img/review.png', _external=True) }}"/>
                    </strong>
                    <p><font color=#2C2C2C>__</font></p><p><font color=#2C2C2C>__</font></p>
                    </div>

                </div>


                <div class="large-4 small-12 columns">

                    <div class="scontain">
                    <p><font color=#2C2C2C>__</font>“Mealtime is important to me because it’s when I catch up with my friends and family. Though I dine out a lot for business, it is hard to keep up with the latest trends.  NeuroDining helps me receive outstanding service at the best restaurants while satisfying my adventurous taste buds.”</p>
                    <h5 class="h5-title-margin-top">- Samuel</h5>
                    <p></p><p></p>
                    <strong class="hide-for-touch">
                    <img src="{{ url_for('static', filename='img/review.png', _external=True) }}"/>
                    </strong>
                    <p><font color=#2C2C2C>__</font></p><p><font color=#2C2C2C>__</font></p>
                    </div>

                </div>
            </div>
            </div>


        <div class="large-3 columns"><p></p></div>
    </div>
</div>
</strong>

<!--SLICK MEDIUM -->
<strong class="show-for-medium">

<div class="slick">
    <div class="row">

        <div class="medium-3 columns"><p></p></div>

        <div class="medium-6 columns">

<div class="cent2">
            <div class="row text-center slick-multislider">


                <div class="large-4 medium-4 small-4 columns">

                    <div class="scontain">
                    <p><font color=#2C2C2C>__</font>“As a business owner, I work 100+ hours a week.  I don’t have time to spend researching restaurants and making reservations. NeuroDining makes all the decisions so I don’t have to. I recommend this service to every busy individual who puts value on time efficiency and quality.”</p>
                    <h5 class="h5-title-margin-top">- John</h5>
                    <p></p><p></p>
                    <strong class="hide-for-touch">
                    <img src="{{ url_for('static', filename='img/review.png', _external=True) }}"/>
                    </strong>
                    <p><font color=#2C2C2C>__</font></p><p><font color=#2C2C2C>__</font></p>
                    </div>

                </div>


                <div class="large-4 medium-4 small-4 columns">

                    <div class="scontain">
                    <p><font color=#2C2C2C>__</font>“NeuroDining has become an essential part of my social life. Their handpicked options include everything from rustic hole-in-the-walls to fancy restaurants, but the quality is consistently excellent. I find that the exclusivity of NeuroDining is what makes the service so reliable.  I know that membership is decided on a referral basis so other members have the same expectations as I do.”</p>
                    <h5 class="h5-title-margin-top">- Mira</h5>
                    <p></p><p></p>
                    <strong class="hide-for-touch">
                    <img src="{{ url_for('static', filename='img/review.png', _external=True) }}"/>
                    </strong>
                    <p><font color=#2C2C2C>__</font></p><p><font color=#2C2C2C>__</font></p>
                    </div>

                </div>


                <div class="large-4 medium-4 small-4 columns">

                    <div class="scontain">
                    <p><font color=#2C2C2C>__</font>“Mealtime is important to me because it’s when I catch up with my friends and family. Though I dine out a lot for business, it is hard to keep up with the latest trends.  NeuroDining helps me receive outstanding service at the best restaurants while satisfying my adventurous taste buds.”</p>
                    <h5 class="h5-title-margin-top">- Samuel</h5>
                    <p></p><p></p>
                    <strong class="hide-for-touch">
                    <img src="{{ url_for('static', filename='img/review.png', _external=True) }}"/>
                    </strong>
                    <p><font color=#2C2C2C>__</font></p><p><font color=#2C2C2C>__</font></p>
                    </div>

                </div>

            </div>
            </div>
            </div>


        <div class="medium-3 columns"><p></p></div>
    </div>
</div>

</strong>


    <strong class="show-for-small">
        <div class="bottom_banner">
        <div class="large-12 columns nopadding">
        <img src="{{ url_for('static', filename='img/people_rs.jpg', _external=True) }}" style="height:150px"/>
    </div>
    </div>
    </strong>

<strong class="hide-for-small">
<div class="bottom_banner">
    <div class="large-12 columns nopadding">
        <img src="{{ url_for('static', filename='img/people_rs.jpg', _external=True) }}" style="width:100%" />
    </div>
    </div>
</strong>


    {% endblock %}