<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en" >

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FAQ</title>


  <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/foundation.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">

  <script src="{{ url_for('static', filename='js/vendor/modernizr.js') }}"></script>

  <!-- slick carousel stuff -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/slick/slick.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/slick/slick-theme.css') }}">
</head>
<body>

    {# fancy font from google fonts #}
    <link href='http://fonts.googleapis.com/css?family=Josefin+Slab' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Special+Elite' rel='stylesheet' type='text/css'>



  <!-- body content here -->

{# text #}

<div class = "row">
    <div class="large-1 columns">
        <p></p>
    </div>

  <div class = "large-10 columns">
    <p></p>
        <div class="row collapse">

        <div class="subpageheading">
            <h1>
            <span class="subpagetext" style="color:#E9E0DB">
            FAQ
            </span>
            </h1>
        </div>
        </div>

        <div class="paragraph">
        <div class="row collapse">
    <p>
      <span class="subpagetextp" style="font-size:120%;color:#ABA498"><ins><b>Reservations</b></ins></span>
    </p>
    <p><span class="subpagetextp" style="color:#CFC0AE"><b>How last minute can I make reservations?</b></span></p>
    <p><span class="subpagetextp">Reservations can be confirmed up to 30 minutes prior to your reservation time. </span></p>
    <br><br>
    <p><span class="subpagetextp" style="color:#CFC0AE"><b>Are reservations guaranteed when I see them as options? </b></span></p>
    <p><span class="subpagetextp">Yes.  The two restaurant suggestions appearing for your selected area are both guaranteed.  All you have to do is click confirm. After 60 seconds, inventory/availability will be refreshed. </span></p>
    <br><br>
    <p><span class="subpagetextp" style="color:#CFC0AE"><b>If I like a restaurant you suggested in the past, can I reserve a table through the ND APP?</b></span></p>
    <p><span class="subpagetextp">Yes. You can access your past reservations under the Reservation History tab to easily re-book your favorite restaurants. </span></p>
    <br><br>
    <p><span class="subpagetextp" style="color:#CFC0AE"><b>Why is the reservation name always under “ND member”?</b></span></p>
    <p><span class="subpagetextp">We rely on the collective power of the NeuroDining community to maintain a unique customer status in the eyes of our affiliated establishments.  Because the restaurant knows you are a NeuroDiner, you can expect the recognition and benefits associated with the membership.</span></p>
    <br><br>

    <p>
      <span class="subpagetextp" style="font-size:120%;color:#ABA498"><ins><b>Lateness & Cancellations</b></ins></span>
    </p>
    <p><span class="subpagetextp" style="color:#CFC0AE"><b>I am running late to my reservation.  What do I do? </b></span></p>
    <p><span class="subpagetextp">In general, you can expect your table to be held for 15 minutes past the reserved time.  If you cannot arrive at the restaurant within this time frame, we suggest you contact the restaurant directly.  Your reservation will always appear under “ND Member”.</span></p>
    <br><br>
    <p><span class="subpagetextp" style="color:#CFC0AE"><b>How late can I cancel my reservation? </b> </span></p>
    <p><span class="subpagetextp">Cancelling your reservation is simple - just click on the cancel reservation button at the bottom of your screen.  We ask that you indicate cancellations no later than 30 minutes prior to reservation time.   </span></p>
    <br><br>
    <p><span class="subpagetextp" style="color:#CFC0AE"><b>I could not show up to my reservation. Now what? </b></span></p>
    <p><span class="subpagetextp">Since the NeuroDining community works hard to build reliable relationships between restaurants and members, we strongly suggest you avoid not showing up to a reservation without cancelling first.  A lack of communication between the diner and restaurant may negatively impact the NeuroDining community as a whole.  Of course, we understand that events beyond your control may sometimes cause you not to show up to your reservation.  In this case, please select “I could not make it” when asked to review the restaurant on the iOS app.  </span></p>
    <br><br>

    <p>
      <span class="subpagetextp" style="font-size:120%;color:#ABA498"><ins><b>Restaurant Suggestions</b></ins></span>
    </p>
    <p><span class="subpagetextp" style="color:#CFC0AE"><b>Will I keep getting the same restaurant suggestions over time?</b></span></p>
    <p><span class="subpagetextp">Because NeuroDining maintains a list of top restaurants, this list is finite by nature.  However, our list is constantly evolving to reflect openings, closings and user feedback.</span></p>
    <br><br>
    <p><span class="subpagetextp" style="color:#CFC0AE"><b>I have a food restriction. Do you suggest restaurants based on that? </b></span></p>
    <p><span class="subpagetextp">Currently, users are not able to filter suggestions based on food restrictions.  However, you can easily access the restaurant’s menu through the iOS app  to get a better sense of whether or not the restaurant will work for your food restrictions.  </span></p>
    <br><br>
    <p><span class="subpagetextp" style="color:#CFC0AE"><b>How are the two restaurant options chosen? </b></span></p>
    <p><span class="subpagetextp">Restaurants are selected from our curated list of establishments that NeuroDining is confident will meet your expectations.  We also tailor selections based on individual user feedback.  </span></p>
    <br><br>
    <p><span class="subpagetextp" style="color:#CFC0AE"><b>I do not wish to dine at either option.  How long until I can get a new suggestion for the same area?</b></span></p>
    <p><span class="subpagetextp">Sorry to hear that.  In that case, let us know through feedback and we will do our best to make sure you do not encounter the same problem with future selections. Our inventory is refreshed every 60 seconds.  Please visit the iOS app later to receive other options. </span></p>
    <br><br>

    <p>
      <span class="subpagetextp" style="font-size:120%;color:#ABA498"><ins><b>Feedback</b></ins></span>
    </p>
    <p><span class="subpagetextp" style="color:#CFC0AE"><b>What happens if I dont have a great experience at the restaurant ND suggested?</b></span></p>
    <p><span class="subpagetextp">If you have a poor experience with one of our affiliated restaurants, we want to know!  We strongly suggest sending feedback and sharing a review when asked to do so on the iOS app. </span></p>
    <br><br>
    <p><span class="subpagetextp" style="color:#CFC0AE"><b>Why do I need to provide a review every time I dine out?</b> </span></p>
    <p><span class="subpagetextp">NeuroDining relies on user feedback to maintain the highest degree of excellence for our members.  Your feedback will also be used to tailor future dining selections to suit your particular needs.  </span></p>
    <br><br>

    <p>
      <span class="subpagetextp" style="font-size:120%;color:#ABA498"><ins><b>Account</b></ins></span>
    </p>
    <p><span class="subpagetextp" style="color:#CFC0AE"><b>I don't have a referral. Can I still join?</b></span></p>
    <p><span class="subpagetextp">Currently, membership to NeuroDining is determined on a referral only basis.  We are striving to maintain a consistent customer base made of reliable and respectable patrons as well as frequent diners and epicureans.  If you believe you meet this description, please visit our “Request Membership” page to submit your contact information.</span></p>
    <br><br>
    <p><span class="subpagetextp" style="color:#CFC0AE"><b>How can I update my email address, PW and referral code?  </b></span></p>
    <p><span class="subpagetextp">All changes to e-mail, password and referral code can be made on the account page of the iOS app.   </span></p>
    <br><br>
    <p><span class="subpagetextp" style="color:#CFC0AE"><b>How do I unsubscribe from the newsletters? </b> </span></p>
    <p><span class="subpagetextp">If you wish to unsubscribe from our newsletter, let us now at contact@neurodining.com and we will have you removed from our list as soon as possible.  </span></p>
    <br><br>
    <p><span class="subpagetextp" style="color:#CFC0AE"><b>How do I unsubscribe from the service? </b></span></p>
    <p><span class="subpagetextp">If you wish to discontinue your NeuroDining membership, let us now at contact@neurodining.com.  You will be refunded for any remaining value of your subscriptions.</span></p>
    <br><br>
    <p><span class="subpagetextp" style="color:#CFC0AE"><b>Privacy Policy? </b></span></p>
    <p><span class="subpagetextp">Our Privacy Policy in its entirety can be viewed at: http://www.neurodining.com/privacypolicy</span></p>
    <br><br>

  </div>
  </div>
  </div>
  <div class="large-1 columns">
        <p></p>
    </div>

</div>



  {# footer #}

    <strong class="show-for-small">
    <div class="large-12 medium-12 small-12 columns nopadding">
    <hr/>
    <div class="touchfooter">
        <div align="right">
        <ul>
                <li><a class="active" href="mailto:contact@neurodining.com" target="blank"><img src="{{ url_for('static', filename='img/mail.png', _external=True) }}" style="width: 27px; height: 27px"/> </a></li>
                <li><a class="active" href="http://www.facebook.com/neurodining/" target="blank"><img src="{{ url_for('static', filename='img/fs.png', _external=True) }}" style="width: 30px; height: 30px"/> </a></li>
                <li><a class="active" href="http://www.instagram.com/neurodining/" target="blank"><img src="{{ url_for('static', filename='img/igs.png', _external=True) }}" style="width: 30px; height: 30px"/> </a></li>
                <li><a class="active" href="https://plus.google.com/103936074861553406382" target="blank" rel="publisher"><img src="{{ url_for('static', filename='img/gp.png', _external=True) }}" style="width: 30px; height: 30px"/> </a></li>
              </ul>
        </div>
        <div align="center">
        <span class="copyright">(C) 2015 Point Taken LLC. All rights reserved.</span><a href="/privacypolicy"><br><span class="privacy">Privacy Policy</span></a>
        </div>
    </div>
    </div>
    </strong>
<script src="js/vendor/jquery.js"></script>
<script src="js/foundation/foundation.js"></script>
<script src="js/foundation/foundation.orbit.js"></script>
<script src="js/foundation/foundation.topbar.js"></script>



  <script src="{{ url_for('static', filename='js/vendor/jquery.js') }}"></script>
  <script src="{{ url_for('static', filename='js/vendor/fastclick.js') }}"></script>
  <script src="{{ url_for('static', filename='js/vendor/modernizr.js') }}"></script>
  <script src="{{ url_for('static', filename='js/foundation.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/foundation/foundation.js') }}"></script>
  <script src="{{ url_for('static', filename='js/foundation/foundation.orbit.js') }}"></script>
  <script src="{{ url_for('static', filename='js/foundation/foundation.topbar.js') }}"></script>
  <script src="{{ url_for('static', filename='js/foundation/foundation.dropdown.js') }}"></script>
  <script src="{{ url_for('static', filename='js/foundation/foundation.reveal.js') }}"></script>
  <script>
    $(document).foundation();
  </script>
  <script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.5.0/slick.min.js"></script>
  <script src="{{ url_for('static', filename='js/masonry.pkgd.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/foundation/foundation.tooltip.js') }}"></script>
  <script src="{{ url_for('static', filename='js/slick/slick.min.js') }}"></script>
<script>
    $(document).foundation();

// SLick Slider Code
 var $windowWidth=$(window).width();

$( window ).resize(function() {
var $windowWidth=$(window).width();
if(($windowWidth > 1) && ($windowWidth < 640)){
$('.slick-multislider').unslick();
      $('.slick-multislider').slick({
          slidesToShow: 1,
          slidesToScroll: 1,
          autoplay: true,
          autoplaySpeed: 3000,
          dots: true,
          arrows: false,
        });

    } else {
$('.slick-multislider').unslick();
        $('.slick-multislider').slick({
          slidesToShow: 1,
          slidesToScroll: 1,
          autoplay: true,
          autoplaySpeed: 3000,
          dots: true,
          arrows: false,
        });
    }

});

if(($windowWidth > 1) && ($windowWidth < 640)){

      $('.slick-multislider').slick({
          slidesToShow: 1,
          slidesToScroll: 1,
          autoplay: true,
          autoplaySpeed: 3000,
          dots: true,
          arrows: false,
        });

    } else {
        $('.slick-multislider').slick({
          slidesToShow: 1,
          slidesToScroll: 1,
          autoplay: true,
          autoplaySpeed: 3000,
          dots: true,
          arrows: false,
        });
    }


</script>

<script>
    $(document).foundation();

// SLick Slider2 Code
 var $windowWidth=$(window).width();

$( window ).resize(function() {
var $windowWidth=$(window).width();
if(($windowWidth > 1) && ($windowWidth < 640)){
$('.slick2-multislider').unslick();
      $('.slick2-multislider').slick({
          slidesToShow: 1,
          slidesToScroll: 1,
          autoplay: true,
          autoplaySpeed: 3000,
          dots: true,
          arrows: false,
        });

    } else {
$('.slick2-multislider').unslick();
        $('.slick2-multislider').slick({
          slidesToShow: 1,
          slidesToScroll: 1,
          autoplay: true,
          autoplaySpeed: 3000,
          dots: true,
          arrows: false,
        });
    }

});

if(($windowWidth > 1) && ($windowWidth < 640)){

      $('.slick2-multislider').slick({
          slidesToShow: 1,
          slidesToScroll: 1,
          autoplay: true,
          autoplaySpeed: 3000,
          dots: true,
          arrows: false,
        });

    } else {
        $('.slick2-multislider').slick({
          slidesToShow: 1,
          slidesToScroll: 1,
          autoplay: true,
          autoplaySpeed: 3000,
          dots: true,
          arrows: false,
        });
    }


</script>

<!-- For Dropdown -->
<script>
$(document).ready(function() {
    $('.hover').bind('touchstart touchend', function(e) {
        e.preventDefault();
        $(this).toggleClass('hover_effect');
    });
});
</script>

  <!--<script>

  var container = document.querySelector('#container');
var msnry = new Masonry( container, {
  itemSelector: '.item',

});
</script>-->


</body>
</html>



