{% extends "base.html" %}

{% block title %}
Our Restaurants
{% endblock %}

{% block body %}

{# empty banner as place holder #}
<strong class="show-for-small">
    <div class="row collapse">
        <div class="banner-touch-invisible">

        </div>
    </div>
</strong>

{# text #}
<!--<div class="row">
    <div class="banner">
    <img src="{{ url_for('static', filename='img/banner.jpg', _external=True) }}" />
</div>
</div>-->
<!--<strong class="hide-for-touch">-->
<strong class="show-for-large-up">
<div class="subpagephoto">
<div class = "row">
    <div class="large-1 columns">
      <p></p>
    </div>
    <div class = "large-10 columns">
    <p></p>
    <div class="row collapse">

    <div class="subpageheading">
      <h1>
        <span class="subpagetext" style="color:#E9E0DB">Our Restaurants</span>
      </h1>
    </div>

    <p>
      <span class="subpagetextp">
        <font color=#2C2C2C>__</font>NeuroDining selects a restaurant for you from the top two hundred dining establishments in New York City.  Our restaurants must meet rigid criteria based on extensive research into the needs of our members.  Our list is updated daily to reflect the latest member feedback and new openings.
      </span>
    </p>

    <br>
    <br>
    <br>
    <br>

    <div class="row collapse">
    <div class="large-4 columns">
      <img src="{{ url_for('static', filename='img/David_Bouley.JPG', _external=True) }}" style="PADDING-RIGHT: 30px" style="PADDING-LEFT: 10px"/>
    </div>
    <div class="large-8 columns">

        <p>
        <span class="subpagetextp"style="font-size:120%;color:#D1B37F">Chef David Bouley</span><br>
        <span class="subpagetextp">
        <font color=#2C2C2C>__</font>Few can claim the culinary success of David Bouley, praised for crafting some of the most exquisite dishes in New York City.   But at the heart of his prosperity is an altruism too often overlooked in the restaurant world. “I just think if you take care of detail and focus on product and your relationship with the customer, everything else takes care of itself,” says Bouley. He calls guidebooks unreliable, saying that they often lead to disappointing dining experiences. Bouley recently told our team in a meeting at his flagship restaurant that “there’s nothing you can rely on anymore - the best support you have is either from a friend that likes you and knows what you like or a service, like NeuroDining, that relies on feedback from the client.”
      </span>
      </p>
    </div>
    </div>

    <br>
    <br>
    <br>
    <br>

    <div class="row collapse">
    <div class="large-8 columns">
        <p>
        <span class="subpagetextp"style="font-size:120%;color:#D1B37F">Chef Didier Pawlicki</span><br>
        <span class="subpagetextp">
        <font color=#2C2C2C>__</font>Didier Pawlicki, executive chef and owner of La Sirene in SOHO, knows how to please customers. After all, he’s been honing his hospitality skills since the age of 6 when he began working at his parents' hotel restaurant in France. Pawlicki is so dedicated to the satisfaction of his diners that he treats responding to online reviews like a part-time job.  His personal replies, speckled with “LOL”s, smiley faces and “yay”s, are indicative of a chef whose big personality can hardly be contained by the small and cozy atmosphere of La Sirene itself.  Of his patrons, Paawlicki says, “I want them [to be] happy and I know that food is a way to make them happy.”
      </span>
      </p>
    </div>
    <div class="large-4 columns">
      <img src="{{ url_for('static', filename='img/Didier_Pawlicki.JPG', _external=True) }}"style="PADDING-LEFT: 30px" style="PADDING-RIGHT: 10px"/>
    </div>
    </div>

    <br>
    <br>
    <br>
    <br>

    <div class="row collapse">
    <div class="large-4 columns">
      <img src="{{ url_for('static', filename='img/Keiko.jpg', _external=True) }}" style="PADDING-RIGHT: 30px" style="PADDING-LEFT: 10px"/>
    </div>
    <div class="large-8 columns">

        <p>
        <span class="subpagetextp"style="font-size:120%;color:#D1B37F">Owner Keiko Ono Aoki</span><br>
        <span class="subpagetextp">
        <font color=#2C2C2C>__</font>At KOA in the Flatiron District, Japanese meets Chinese, ramen meets chic and the customer meets Keiko Ono Aoki, owner and mastermind behind the establishment.  Eating the chashu ramen set at KOA, you might question whether Keiko herself is part of the decor, since both exude elegance and beauty.  Fluttering around, from table to table, Keiko’s dedication to KOA is grounded in a statement made by her late husband over a decade ago. Rocky Aoki, founder of the Benihana franchise, prophesied that ramen would be the next “big thing” after sushi.  So when he passed away in 2008, Keiko worked to maintain the franchise, but also promised to see the fruition of her husband’s vision.  With the partnership of “Iron Chef” Yuji Wakiya, KOA opened it’s doors last June.  Keiko believes her latest dining venture suits the needs of NYC’s NeuroDiners and is dedicated to integrating the community into KOA.
      </span>
      </p>
    </div>
    </div>

    </div>
    </div>
    <div class="large-1 columns">
            <p></p>
        </div>
</div>
</div>
</strong>
<!--</strong>-->

<strong class="hide-for-large-up">
    <div class="subpagephoto">
<div class = "row">
    <div class="large-1 columns">
      <p></p>
    </div>
    <div class = "large-10 columns">
    <p></p>
    <div class="row collapse">

    <div class="subpageheading">
      <h1>
        <span class="subpagetext" style="color:#E9E0DB">Our Restaurants</span>
      </h1>
    </div>

    <p>
      <span class="subpagetextp">
        <font color=#2C2C2C>__</font>NeuroDining selects a restaurant for you from the top two hundred dining establishments in New York City.  Our restaurants must meet rigid criteria based on extensive research into the needs of our members.  Our list is updated daily to reflect the latest member feedback and new openings.
      </span>
    </p>

    <br>
    <br>
    <br>

    <div class="row collapse">
    <div class="large-4 columns">
      <img src="{{ url_for('static', filename='img/David_Bouley.JPG', _external=True) }}"/>
    </div>
    <div class="large-8 columns">

        <p>
        <span class="subpagetextp"style="font-size:120%;color:#D1B37F">Chef David Bouley</span><br>
        <span class="subpagetextp">
        <font color=#2C2C2C>__</font>Few can claim the culinary success of David Bouley, praised for crafting some of the most exquisite dishes in New York City.  But at the heart of his prosperity is an altruism too often overlooked in the restaurant world. “I just think if you take care of detail and focus on product and your relationship with the customer, everything else takes care of itself,” says Bouley. He calls guidebooks unreliable, saying that they often lead to disappointing dining experiences. Bouley recently told our team in a meeting at his flagship restaurant that “there’s nothing you can rely on anymore - the best support you have is either from a friend that likes you and knows what you like or a service, like NeuroDining, that relies on feedback from the client.”
      </span>
      </p>
    </div>
    </div>

    <br>
    <br>
    <br>

    <div class="row collapse">
    <div class="large-4 columns">
      <img src="{{ url_for('static', filename='img/Didier_Pawlicki.JPG', _external=True) }}"/>
    </div>
    <div class="large-8 columns">
        <p>
        <span class="subpagetextp"style="font-size:120%;color:#D1B37F">Chef Didier Pawlicki</span><br>
        <span class="subpagetextp">
        <font color=#2C2C2C>__</font>Didier Pawlicki, executive chef and owner of La Sirene in SOHO, knows how to please customers. After all, he’s been honing his hospitality skills since the age of 6 when he began working at his parents' hotel restaurant in France. Pawlicki is so dedicated to the satisfaction of his diners that he treats responding to online reviews like a part-time job.  His personal replies, speckled with “LOL”s, smiley faces and “yay”s, are indicative of a chef whose big personality can hardly be contained by the small and cozy atmosphere of La Sirene itself.  Of his patrons, Paawlicki says, “I want them [to be] happy and I know that food is a way to make them happy.”
      </span>
      </p>
    </div>

    </div>

    <br>
    <br>
    <br>

    <div class="row collapse">
    <div class="large-4 columns">
      <img src="{{ url_for('static', filename='img/Keiko.jpg', _external=True) }}"/>
    </div>
    <div class="large-8 columns">

        <p>
        <span class="subpagetextp"style="font-size:120%;color:#D1B37F">Owner Keiko Ono Aoki</span><br>
        <span class="subpagetextp">
        <font color=#2C2C2C>__</font>At KOA in the Flatiron District, Japanese meets Chinese, ramen meets chic and the customer meets Keiko Ono Aoki, owner and mastermind behind the establishment.  Eating the chashu ramen set at KOA, you might question whether Keiko herself is part of the decor, since both exude elegance and beauty.  Fluttering around, from table to table, Keiko’s dedication to KOA is grounded in a statement made by her late husband over a decade ago. Rocky Aoki, founder of the Benihana franchise, prophesied that ramen would be the next “big thing” after sushi.  So when he passed away in 2008, Keiko worked to maintain the franchise, but also promised to see the fruition of her husband’s vision.  With the partnership of “Iron Chef” Yuji Wakiya, KOA opened it’s doors last June.  Keiko believes her latest dining venture suits the needs of NYC’s NeuroDiners and is dedicated to integrating the community into KOA.
      </span>
      </p>
    </div>
    </div>

    </div>
    </div>
    <div class="large-1 columns">
            <p></p>
        </div>
</div>
</div>
</strong>



    {% endblock %}